/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, #mot-de-passe-oublie {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/* GENERAL */
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

#normalHeader {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3{
	font-size: 26px;
}

.hidden {
	display: none;
}

button {
	all: unset;
}

/* EDITION MODE */

#editionMode {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;

	left: 50%;
	right: 50%;

	background-color: black;
	color: white;

	text-align: center;

	padding: 20px 0;
}

#editionMode p {
	margin-left: 7px;
}

/* BARRE NAVIGATION */
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

/* INTRO */
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

/* NAV */
ul a {
	all: unset;
}

/* FILTER */

filter {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 10px;
}

filter label {
	border: 1px solid;
	border-radius: 30px;

	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;

	margin: 8px;
	padding: 10px 25px 10px 25px;

	font-size: 15px;
}

filter .filter-choice:checked + label {
	background-color: #1D6154;
	border-color: #1D6154;
	color: white;
}

/* GALLERY */
#headProjets {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 40px;
}

#titleProjets {
	position: absolute;
}

#modifyButton {
	display: flex;
	margin-left: 25em;
}


#modifyButton i {
	margin-right: 7px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* CONTACT */
#contact {
	width: 50%;
	margin: auto;
	text-align: center;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
input[type="button"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/* FOOTER */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* LOGIN */
#mot-de-passe-oublie {
	all: unset;

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: underline;
}

#warningLogin {
	margin-top: 15px;
	color: #B1663C;
}


/* MODAL */

/* Modal general */
.modal {
  display: none; 

  position: fixed;
  padding-top: 130px; /* Location of the box */
  left: 0;
  top: 0;

  width: 100%; 
  height: 100%;

  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
	display: flex;
	flex-direction: column;
	
	background-color: #ffffff;
	margin: auto;

	border-radius: 20px;

	padding: 20px 30px 20px 30px;

	width: 40%;
}



/* Modal header */
.modal-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	padding-bottom: 50px;
}

/* The Close Button */
.close {
	margin-left: auto;
	color: rgb(0, 0, 0);
}


/* Modal body */
.modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2px 16px;
}

#galeryModify {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: flex-start;

	gap:40px 18px;

	width: 80%;
	height: 100%;
}

.littleFigure img {
	width: 102px;
}

.littleFigure .deleteButton {
	position: absolute;
	translate: -30px 10px;
}

.littleFigure i {
	color: white;
	background-color: black;

	border-radius: 4px;

	padding: 5px;
}

/* Modal footer */
.modal-footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 50px;
}

.greyLine {
	width: 80%;
	height: 1px;
	background-color:lightgray;
}

#addPicture,
#validAddPicture {
	height: 36px;
	width: 237px;

	border:none;
}

/* MODAL ADD PICTURE */
#modal-content-add-picture {
	display: none;
}

#arrow-and-cross {
	display: flex;
	justify-content: space-between;

	width: 100%;
}

#back, .close {
	scale: 150%;
}

/* MODAL BODY ADD PICTURE */

#sectionAddPicture,
#placeholderPictureFile {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 5px;

	background-color: #E8F1F6;
}

#sectionAddPicture img {
	max-height: 200px;
	max-width: 420px;
	object-fit: contain;
}

input[type="file"]{
	display: none;
}

#sectionAddPicture i {
	color: #B9C5CC;

	scale: 550%;
	margin: 50px 0px 50px 0px;
}

#addPictureFile {
	background-color: #CBD6DC;
	color: #306685;

	width: 100%;

	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 500;

	border: none;

	margin: 10px 0px 10px 0px;
	padding: 10px 35px 10px 35px;

	border-radius: 20px;
}

#formatPicture {
	font-size: 12px;
	color: #444444;

	padding-top: 20px;;
	padding-bottom: 20px;
}

#addTitleCategorie {
	width: 60%;
	display: flex;
	flex-direction: column;
}

#addTitleCategorie label,
#addTitleCategorie input,
#addTitleCategorie select {
	margin: 15px 0px 0px 0px;
}

#addTitleCategorie input,
#addTitleCategorie select{
	height: 50px;

	font-size: 1.2em;

	border: none;

	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: white;
}

#validAddPicture:disabled {
 	background-color: #A7A7A7 ;
}

/* Button hover/focus */
.close:hover,
.close:focus,
#addPicture:hover,
#addPicture:focus,
#modifyButton:hover,
#modifyButton:focus,
.deleteButton:hover,
.deleteButton:focus,
#back:hover,
#back:focus,
#addPictureFile:hover,
#addPictureFile:focus,
#validAddPicture:hover,
#validAddPicture:focus {
  text-decoration: none;
  cursor: pointer;
}